{% extends 'layouts/app.html' %}
{% block content %}
  <form action="/test" method="POST">
    {% csrf_token %}
    <table>
      <tbody>
        <tr>
          <td>From date:</td>
          <td><input type="date" name="from_date"></td>
        </tr>
        <tr>
          <td>To date:</td>
          <td><input type="date" name="to_date"></td>
        </tr>
        <tr>
          <td><input type="submit"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}
