{% extends 'layouts/app.html' %}
{% block content %}
  <h2>From {{ startDate }} to {{ endDate }}</h2>
  <table border="1">
    <thead>
      <tr>
        <td>Số thứ tự</td>
        <td>Chủ đề</td>
        <td>Mức độ "hot"</td>
        <td>Số lượng bài báo</td>
        <td>Liên kết</td>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td style="padding: 15px;">{{ item.name }}</td>
          <td>{{ item.ranking }}</td>
          <td>{{ item.number_of_news}}</td>
          <td><button class="btn btn-success" data-toggle="modal" data-target="#detail-{{ forloop.counter }}">View</button></td>
      </tr>

      <!-- Modal -->
      <div class="modal fade" id="detail-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Detail</h4>
            </div>
            <div class="modal-body">
              <ol>
              {% for new in item.news %}
                <li><p><a href="{{ new.url }}" target="_blank">{{ new.title }}</a></p></li>
              {% endfor %}
            </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}
